{% extends "base.html" %}

{% block content %}
<section class="container mt-5 mb-5 text-center">
    <h1>Surperforme le marché avec une stratégie basée sur les données.</h1>
    <p>Suit les forces qui font le marché, délègue les tâches à la stratégie, surperforme le marché. Conçu pour les
        investisseurs occupés.</p>
    <a href="/strategies">
        <button class="btn btn-primary">Explore les stratégies <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h13M12 5l7 7-7 7"/></svg></button>
    </a>
</section>
<section class="container">
    <h2 class="text-center">Arrete de vouloir faire tout par toi-même. Il y a un moyen <span class="text-primary">plus
            intelligent</span>.</h2>
    <div class="row mt-5">
        <div class="col-md-6 p-5 bg-light">
            <h3>Investi <span class="text-success">avec Dinitie</span></h3>
            <div class="d-flex gap-3 mt-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                    stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M12 2a10 10 0 1 0 10 10H12V2zM21.18 8.02c-1-2.3-2.85-4.17-5.16-5.18" />
                </svg>
                <div>
                    <h4>Un portefeuille mis à jour chaque semaine.</h4>
                    <p>Tu as juste à copier le portefeuille chaque semaine.</p>
                </div>
            </div>
            <div class="d-flex gap-3 mt-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <rect x="3" y="3" width="18" height="18" rx="2" />
                    <path d="M3 9h18" />
                </svg>
                <div>
                    <h4>Ajuste la stratégie en temps réel</h4>
                    <p>Un niveau de confiance est attribué à chaque achat. Tu peux donc ajuster la stratégie à tes
                        besoins.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 p-5 bg-light">
            <h3>Investi <span class="text-danger">par toi-même</span></h3>
            <ul class="mt-4 list-unstyled">
                <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg> Une recherche fastidieuse des actions à acheter.</li>
                <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg> Un manque de temps pour analyser les données.</li>
                <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg> Un manque de connaissances pour prendre des décisions éclairées.</li>
                <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg> Un manque de certitude pour suivre une stratégie.</li>
            </ul>
        </div>
    </div>
</section>
<section class="container text-center">
    <h2>Plan et prix</h2>
</section>
<section class="container text-center">
    <h2>FAQ</h2>
</section>
{% endblock %}